@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root{
    --azul:#0E2D63;
    --azul_pastel:#658DC0;
    --celeste:#A1E3F9;
    --verde_agua:#D1F8EF;
    --celeste_bajo:#DCE9EF;
    --claro:#F5F6F8;
    --naranja:#F3AD6D;


    --padding_1: 14px;
    --padding_2:42px;   /*3*padding_1*/
    --padding_3:30px;
    --padding_4:56px;   /*4*padding_1*/
    --padding_5:70;     /*5*padding_1*/
    --gap:20px;
    --gap_2:1000px;

    --border-radius_1:35px;

    --h1:47.78px;
    --h2:39.81px;
    --h3:33.18px;
    --h4:27.65px;
    --h5:23.04px;
    --h6:19.20px;
    --p:16px;
    --small:13.33px;
    --xsmall:11.11px;

    --sanserif:"Fahkwang","sans-serif";

    --w:1000px;
    --h:600px;
    --degrade_1:linear-gradient(var(--azul),var(--celeste));
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--celeste_bajo);
    font-family:"Fahkwang","sans-serif";
}

h1{
    /* h1 */
    /*color: #000;*/
    font-family: var(--sanserif);
    font-size: var(--h1);
   
    font-weight: 400;
  
    text-transform: uppercase;
}
h2{
    /*color: #000;*/

/* h2 */
    font-family: var(--sanserif);
    font-size: var(--h2);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
h3{
    /*color: #000;*/

/* h3 */
    font-family: var(--sanserif);
    font-size: var(--h3);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
h4{
    /*color: #000;*/

/* h4 */
    font-family: var(--sanserif);
    font-size: var(--h4);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
h5{
    /*color: #000;*/

/* h5 */
    font-family: var(--sanserif);
    font-size: var(--h5);
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}
h6{
   /*color: #000;*/

/* h6 */
    font-family: var(--sanserif);
    font-size: var(--h6);
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
p{
    /*color: #000;*/

/* p */
    font-family: var(--sanserif);
    font-size: var(--p);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.small{
    /*color: #000;*/

/* small */
    font-family: var(--sanserif);
    font-size: var(--small);
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}
.xsmall{
    /*color: #000;*/
/* xsmall */
    font-family: var(--sanserif);
    font-size: var(--xsmall);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.h1_italic{
    /*color: #000;*/

/* h1_3 */
    font-family: var(--sanserif);
    font-size: var(--h1);
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.h1_bold{
    font-family: var(--sanserif);
    font-size:var(--h1);
    font-weight: 700;
    text-transform: uppercase;
}
.p_italic{
    /*color: #000;*/

/* p_3 */
    font-family: var(--sanserif);
    font-size: var(--p);
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}
.p_bold{
   /* color: #000;*/

/* p_2 */
    font-family: var(--sanserif);
    font-size: var(--p);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/*Header*/
.header{
    display: flex;
    flex-direction:column;
    height: 800px;
    background-image: url('../imagenes/cerezas.png');
    background-repeat: no-repeat;
    background-position: ceter center;
    background-size: cover;
    background-attachment: scroll;

    position: relative;
    
}
.header_row{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    
    /*gap: var(--gap_2);*/
}
/*.efecto_cristal{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: var(--border-radius_1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}*/
.mi_logo{
    position: relative;
    z-index: 2;
    
}
.mi_logo_imagen{
    border: 15px solid var(--azul);
    border-radius: var(--border-radius_1);
    transform: rotate(10deg);
    margin-left: 100px;
    
}
.logo_1{
    transform: rotate(10deg);

    
}
.mi_logo_texto{
    background-color: var(--celeste);
    margin-left: 300px;
    padding: 25px 50px;
    border-radius: var(--border-radius_1);
    border: 5px dotted var(--claro);
    list-style: none;
    text-decoration: none;
    position: relative;
    transition: 300ms all;


    
}
.mi_logo_texto:hover{
    background-color: var(--azul);
    color: var(--celeste_bajo);
}
.mi_logo_circulo{
    display: inline-block;
    position: absolute;
    margin-left: 270px;
    top: 440px;
    left: 65px;
    width: 25px;
    height: 25px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -8px 3px 15px 0px rgba(130, 130, 130, 0.5);
    

}

.mi_yo_nav{}
.menu_yo_nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: var(--gap);
    margin-top:100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 100px;
    
}
.boton_menu{
    background-color: var(--azul);
    /*padding: var(--padding_2) var(--padding_1); */
    padding:25px 35px;
    /*margin:100px auto;*/
    text-decoration: none;
    text-align: center;
    font-size:var(--h5);
    border-radius: 50px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 07);
    transition: 300ms all;
}
.boton_menu:hover{
    background-color: var(--celeste);
    color: var(--azul);
}
.slogan{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /*background-color: var(--azul);*/
    height: 100%;
    color: var(--azul);
    /*border-radius: 40px 40px 0 0;*/ /* borde de arriba slogan*/
    

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /*border-radius: var(--border-radius_1);*/
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    position: absolute;
    top: 480px;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
}



/*FIN HEADER*/

/*MAIN*/
.hero{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    background-color: var(--celeste);
    justify-content:center;
    
    
    
}
.hero_texto_base{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px 0px;
    background-color: var(--azul);
    color: var(--celeste_bajo);
    gap: 20px;
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);

}
/*.hero_texto_base_titulo{
    margin-left: 50px;
}*/
.hero_texto_base_masa-texto{
    margin: 50px 20px;
}
.hero_imagen{
   width: 1500px;
    height: auto;
    /*position: absolute;
    left: 20px;*/

}
.bienvenida{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    margin: 20px auto;
    background-color: var(--azul);
}
.bienvenida_titulo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color:var(--claro);

}
.bienvenida_titulo_exacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    

}
.bienvenida_imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    margin: 0px 60px 0px 50px;
    bottom: 40px;
    
    
    
}
.bienvenida_imagenes_foto1{
    width: 600px;
    height: 400px;
    border: 15px solid var(--celeste_bajo);
    border-radius: var(--border-radius_1);
    box-shadow: -5px 3px 15px 0px rgba( 120, 120, 120, 08);
}

.bienvenida_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px 70px 150px 50px;
    padding: 50px 35px 50px 20px;
    text-align: right;
    background-color: var(--celeste_bajo);
    box-shadow: -5px 3px 15px 0px rgba( 120, 120, 120, 08);
}
.personalidad{
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    height: 780px;
    margin: 20px auto;
    text-align: center;
    background-color: var(--claro);
    /*margin: 50px auto;*/
    gap: var(--gap);
    color: var(--azul);
}
.personalidad_cards{
    display: flex;
    flex-direction: row;
    gap: 2px; 

}
.personalidad_cards--yo{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    background-color:var(--azul);
    border: 15px solid var(--celeste);
    gap:15px;
    padding: 20px 10px ;
    border-radius: var(--border-radius_1);
    margin: 20px;
    color: var(--claro);
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);
    position: relative;
    
    
    /*clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);*/
    
}
.personalidad_circulo{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 25px;
    height: 25px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--azul);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 07);
    
    
}
.personalidad_circulo_2{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 325px;
    width: 25px;
    height: 25px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--azul);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 07);
}
.personalidad_cards--yo_poligono{
    align-items: center;
    width: 350px;
    height: 350px;
    margin: auto;
    border-radius: 35px;
}
.personalidad_cards--yo_textos{
}
.cards{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 20px auto;
    background-color: var(--azul_pastel);
    text-align: center;
    gap: var(--gap);
    
}
.cards_titulo{
    color: var(--celeste);
    /*margin: 20px; */
}
.cards_trabajos{
    display: flex;
    flex-direction: row;
    padding: 0px 30px 0px 30px;
    /*margin: 20px ;*/
    /*justify-content: space-between;*/
    
    
    
}
.cards_trabajos_card{
    display: flex;
    flex-direction: column;
    background-color: var(--claro);
    border: 15px solid var(--azul);
    gap: var(--gap);
    padding: 40px 30px;
    border-radius: 50px;
    margin: 10px 60px 10px 10px;
    color: var(--azul);
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);
    position: relative;
    
    
}

.cards_trabajos_card-circulo_1{
    display: inline-block;
    position: absolute;
    top: 105px;
    left: 50px;
    width: 35px;
    height: 35px;
    background-color: var(--azul);
    border-radius: 100px;
    color: var(--azul);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 07);
}
.cards_trabajos_card-circulo_2{
    display: inline-block;
    position: absolute;
    top: 105px;
    left: 375px;
    width: 35px;
    height: 35px;
    background-color: var(--azul);
    border-radius: 100px;
    color: var(--azul);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 07);
}
.cards_trabajos_card_fotos{
    border-radius: var(--border-radius_1);
}
.cards_trabajos_card_botones{
    
    background-color: var(--azul);
    /*padding: var(--padding_2) var(--padding_1); */
    padding:20px 30px;
    /*margin:100px auto;*/
    text-decoration: none;
    text-align: center;
    font-size:var(--h6);
    border-radius: 50px;
    color: var(--claro);
    box-shadow: -7px 3px 15px 0px rgba( 50, 50, 50, 07);
    transition: 300ms all;
}
.cards_trabajos_card_botones:hover{
    background-color: var(--celeste);
    color: var(--azul);
}


/*  MAIN SOBRE MI*/
/*seccion 1*/

.motivacion{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    background-color: var(--azul_pastel);
    margin: 20px auto;
    text-align: center;
    gap: var(--gap);
}
.motivacion_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 50px;
    margin: 150px 0px;
    background-color: var(--azul);
    color: var(--claro);
    gap: 30px;
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);
    
}
.motivacion_texto_titulo{}
.motivacion_texto_masa{}
.motivacion_imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: var(--celeste);
    gap: 30px;
    /*border: 15px solid var(--celeste_bajo);*/
    position: relative;
    
    
}
.motivacion_imagen_foto_circulo_1{
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 65px;
    width: 25px;
    height: 25px;
    background-color: var(--celeste_bajo);
    border-radius: 100px;
    color: var(--azul);
    box-shadow: -8px 3px 15px 0px rgba(50, 50, 50, 0.7);
}
.motivacion_imagen_foto_circulo_2{
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 510px;
    width: 25px;
    height: 25px;
    background-color: var(--celeste_bajo);
    border-radius: 100px;
    color: var(--azul);
    box-shadow: -8px 3px 15px 0px rgba(50, 50, 50, 0.7);
}
.motivacion_imagen_foto{
    display: block;
    width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: var(--border-radius_1);
    border: 15px solid var(--azul);
    box-shadow: -8px 3px 15px 0px rgba(50, 50, 50, 0.7);
    
}
.motivacion_imagen_masa{
    
}
.motivacion_universidad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 50px;
    margin: 150px 0 150px 0px;
    background-color: var(--azul);
    color: var(--claro);
    gap: 30px;
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);
}
.motivacion_universidad_titulo{}
.motivacion_universidad_masa{}

/*fin seccion 1*/

/*seccion 2*/

.influencias{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    background-color: var(--celeste);
    

}
.influencias_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 110px 0px;
    background-color: var(--azul);
    color: var(--celeste_bajo);
    gap: 20px;
    text-align: right;
    padding-right: 50px ;
    padding-left: 30px;
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);
}
.influencias_texto_titulo{
    margin-right: 50px;
}
.influencias_texto_masa{
    margin: 50px 20px;
    right: 20px;
}
.influencias_imagen{
    width: 1400px;
    height: auto;
}

/*fin seccion 2*/

/*seccion 3*/
.habilidades{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 20px auto;
    background-color: var(--azul_pastel);
    text-align: center;
    gap: 30px;
}
.habilidades_titulo{
    color: var(--celeste);
    margin: 40px auto; 
}
.habilidades_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    gap: 30px;
}
.habilidades_row_card{
   display: flex;
    flex-direction: column;
    background-color: var(--claro);
    border: 15px solid var(--azul);
    gap: 20px;
    padding: 40px 30px;
    border-radius: var(--border-radius_1);
    margin: 40px 20px 100px 60px;
    color: var(--azul);
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);
    position: relative;
}
.habilidades_row_card_imagenes{
    width: 350px;
    height: 350px;
    margin-left: 90px;
    align-items:center;
    border-radius: var(--border-radius_1);
}
.habilidades_row_card-circulo_1{
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 120px;
    width: 35px;
    height: 35px;
    background-color: var(--celeste);
    border-radius: 100px;
    color: var(--azul);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 07);
}
.habilidades_row_card-circulo_2{
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 420px;
    width: 35px;
    height: 35px;
    background-color: var(--celeste);
    border-radius: 100px;
    color: var(--azul);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 07);
}
.habilidades_row_card_botones{
    background-color: var(--azul);
    /*padding: var(--padding_2) var(--padding_1); */
    padding:20px 30px;
    /*margin:100px auto;*/
    text-decoration: none;
    text-align: center;
    font-size:var(--h6);
    border-radius: 50px;
    color: var(--claro);
    box-shadow: -7px 3px 15px 0px rgba( 50, 50, 50, 07);
    transition: 300ms all;
}
.habilidades_row_card_botones:hover{
    background-color: var(--celeste);
    color: var(--azul);
}
.habilidades_row_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px 0px;
    background-color: var(--azul);
    color: var(--celeste_bajo);
    gap: 20px;
    text-align: right;
    padding-right: 50px ;
    padding-left: 30px;
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);
}
.habilidades_row_texto_titulo{}
.habilidades_row_texto_masa{}
/*fin seccion 3 */





/*inicio mis mascotas*/

.relato_masa{
    padding: var(--padding_3)
}

.fotos{
    display: flex;
    flex-direction: column;
    height: 700px;
    text-align: center;
    background-color: var(--azul_pastel);
    margin: 20px auto;
    gap: 30px;
    color: var(--azul);
    
}
.fotos__cards{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 300px;
    margin-right: 300px;
}
.fotos_titulo{
    margin: 50px;
}
.fotos__cards_gatos{
     display: flex;
    flex-direction: column;
    background-color:var(--azul);
    border: 15px solid var(--celeste);
    gap:20px;
    padding: 80px 50px ;
    border-radius: 50px;
    margin: 10px;
    color: var(--claro);
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);
    position: relative;

}
.fotos__cards_gatos_imagen{
    width: 200px;
    height: calc(200px * 0.866);
    background-color: var(--azul);
    overflow: hidden;
    position: relative;


    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.fotos__cards_gatos_circulo_1{
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.fotos__cards_gatos_circulo_2{
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 240px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.recuerdos_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: 150px 0px;
    background-color: var(--azul);
    color: var(--claro);
    gap: 30px;
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);
}
.recuerdos_imagen{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    padding: 50px;
    margin: 50px;
    background-color: var(--celeste);
    gap: 30px;
    border: 15px solid var(--azul);
    border-radius: 50px;
    position: relative;
    box-shadow: -8px 3px 15px 0px rgba( 50, 50, 50, 07);
}
.recuerdos_imagen_foto_circulo_1{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 30px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.recuerdos_imagen_foto_circulo_2{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 400px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
/*fin mascotas*/

/* portafolio*/

/*seccion 1*/
.destacados{
    display: flex;
    flex-direction: column;
    height: 800px;
    text-align: center;
    background-color: var(--azul_pastel);
    margin: 20px auto;
    gap: 30px;
    color: var(--azul);
    
}
/*.destacados_titulo{
    padding: 30px 0 ;
}*/
.destacados_contenido{
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    margin: 0 15px 0 15px;
}
.destacados_contenido_imagen{
    background-color: var(--celeste);
    border-radius: var(--border-radius_1);
    padding: var(--padding_2);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 08);
    
}
.destacados_contenido_imagen_foto{
    width: 420px;
    height: auto;
    padding: var(--padding_1);
    background-color: var(--azul);
    border-radius: var(--border-radius_1);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 08);
    
}
.destacados_contenido_texto{
    background-color: var(--azul);
    padding: var(--padding_2);
    color: var(--claro);
    gap: var(--gap);
    text-align: center;
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 08);

}
.destacados_contenido_texto_titulo{
    margin-bottom: 20px;
    
}
.destacados_contenido_subtitulo{
    padding: var(--padding_1);
    /*text-decoration: none;
    text-align: center;
    font-size:var(--h6);*/
    margin-top: 20px;
    /*background-color: var(--azul_pastel);
    border-radius: var(--border-radius_1);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 08);*/
}
.boton_destacados_1{
    background-color: var(--azul);
    /*padding: var(--padding_2) var(--padding_1); */
    padding:20px 30px;
   
    text-decoration: none;
    text-align: center;
    font-size:var(--h6);
    border-radius: 50px;
    color: var(--claro);
    box-shadow: -7px 3px 15px 0px rgba( 50, 50, 50, 07);
    transition: 300ms all;
}
/*.boton_destacados_2{
    
   background-color: var(--azul);
    /*padding: var(--padding_2) var(--padding_1); 
    padding:20px 30px;
   
    text-decoration: none;
    text-align: center;
    font-size:var(--h6);
    border-radius: 50px;
    color: var(--claro);
    box-shadow: -7px 3px 15px 0px rgba( 50, 50, 50, 07);
    transition: 300ms all;
}*/

.boton_destacados_1:hover{
    background-color: var(--azul_pastel);
    color: var(--azul);
}
.destacados_contenido__imagen__foto_circulo_1{
    display: inline-block;
    position: absolute;
    top: 1010px;
    left: 70px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.destacados_contenido__imagen__foto_circulo_2{
    display: inline-block;
    position: absolute;
    top: 1010px;
    left: 435px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.destacados_contenido__imagen__foto_2_circulo_1{
    display: inline-block;
    position: absolute;
    top: 1010px;
    left: 985px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.destacados_contenido__imagen__foto_2_circulo_2{
    display: inline-block;
    position: absolute;
    top: 1010px;
    left: 1350px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
/*fin seccion 1*/

/*seccion 2*/

.animacion{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    height: 850px;
    background-color: var(--celeste);
    
}
/*.animacion_titulo{
    padding: var(--padding_1);
    text-align: center;
}*/
.animacion_contenido{
    display: flex;
    flex-direction: row;

    /*margin-left: 30px;*/
}
.animacion_contenido_imagen{
    margin: 30px;
    padding: var(--padding_4) var(--padding_2);
    background-color: var(--azul_pastel);
    border-radius: var(--border-radius_1);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 08);
}
.animacion_contenido_imagen_foto{
    border-radius: var(--border-radius_1);
    border: 15px solid var(--azul);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 08);
}
.animacion_contenido_subtitulo{
    padding: var(--padding_1);
    margin-top: 20px;
    text-align: center;
   /* color: var(--celeste);
    background-color: var(--azul);
    border-radius: var(--border-radius_1);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 08);*/
}
.animacion_contenido_imagen_circulo_1{
    display: inline-block;
    position: absolute;
    top: 1845px;
    left: 85px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.animacion_contenido_imagen_circulo_2{
    display: inline-block;
    position: absolute;
    top: 1845px;
    left: 405px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}

.animacion_contenido_texto_1{

    background-color: var(--claro);
    margin:  60px 30px 100px 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--azul);
    gap: var(--gap);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 08);
}
.animacion_contenido_texto_2{
    background-color: var(--azul_pastel);
    margin:  60px 30px 100px 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--claro);
    gap: var(--gap);
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 08);
}
.animacion_contenido_texto_titulo{
    padding: var(--padding_1);
}
.animacion_contenido_texto_masa{}


/* fin seccion 2*/


/*inicion seccion 3*/

.ilustracion{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: var(--azul_pastel);
}
/*.ilustracion_titulo{
    margin-top: 35px;
    text-align: center;
}*/
.ilustracion_contenido{
    display: flex;
    flex-direction: row;
    padding: var(--padding_1);
    margin: 20px;
}
.ilustracion_contenido_texto_1{
    margin: 50px 20px 50px 20px;
    padding: var(--padding_2) var(--padding_3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--celeste_bajo);
    gap: var(--gap);
    box-shadow: -5px 3px 15px 0px rgba( 120, 120, 120, 08);
   
}
.ilustracion_contenido_texto_2{
    margin: 50px 30px 50px 0px;
    padding: var(--padding_2) var(--padding_3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    color: var(--celeste_bajo);
    text-align: left;
    gap: var(--gap);
     box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 08);
}
.ilustracion_contenido_texto_titulo_1{
    text-align: center;
    margin-bottom: 20px;
}
.ilustracion_contenido_texto_titulo_2{
    text-align: center;
    margin-bottom: 20px;
}
.ilustracion_contenido_texto_masa{}
.ilustracion_contenido_imagen{
    padding: 20px;
    background-color: var(--azul);
    border-radius: var(--border-radius_1);
    color: var(--celeste_bajo);
    text-align: center;
}
.ilustracion_contenido_imagen_foto{
    border-radius: var(--border-radius_1);
    box-shadow: -5px 3px 15px 0px rgba( 120, 120, 120, 08);
}
.ilustracion_contenido_subtitulo{
    padding: var(--padding_1);
    margin-top: 20px;
    text-align: center;
    color: var(--azul);
    background-color: var(--celeste);
    border-radius: var(--border-radius_1);
    box-shadow: -5px 3px 15px 0px rgba( 120, 120, 120, 08);
}
.ilustracion_foto_circulo_1{
    display: inline-block;
    position: absolute;
    top: 2660px;
    left: 1430px;
    width: 35px;
    height: 35px;
    background-color: var(--celeste);
    border-radius: 100px;
    
    box-shadow: -5px 3px 15px 0px rgba( 200, 200, 200, 02);
}
.ilustracion_foto_circulo_2{
    display: inline-block;
    position: absolute;
    top: 2660px;
    left: 1750px;
    width: 35px;
    height: 35px;
    background-color: var(--celeste);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}

/*fin seccion 3*/
/* fin portafolio*/

/*inicio cotactos*/

.contactos{
    display: flex;
    flex-direction: column;
    height: 1000px;
    margin: 20px auto;
    background-color: var(--celeste);
}
.contactos_redes{
    display: flex;
    flex-direction: row;
    
}

.contactos_redes_facebook{
    margin: 30px;
    padding: var(--padding_2) var(--padding_4) ;
    background-color: var(--azul_pastel);
    border-radius: var(--border-radius_1);
    
}
.contactos_redes_facebook_imagen{
    margin-left: 50px;
    border: 15px solid var(--azul);
    border-radius: var(--border-radius_1);
   
}

/*.contactos_redes_facebook_circulo_1{}
.contactos_redes_facebook_circulo_2{}*/
.contactos_redes_circulo_1{}
.contactos_redes_circulo_2{}
.contactos_redes_instagram{

    padding: var(--padding_3);
    background-color: var(--azul_pastel);
    border-radius: var(--border-radius_1);
}
.contactos_redes_instagram_imagen{
    
    margin-left: 30px;
    border: 15px solid var(--azul);
    border-radius: var(--border-radius_1);
    
    
}

.contactos_redes_tiktok{
   
    margin: 30px;
    padding: var(--padding_2) var(--padding_4) ;
    background-color: var(--azul_pastel);
    border-radius: var(--border-radius_1);
    
}
.contactos_redes_tiktok_imagen{
    margin-left: 50px;
    border: 15px solid var(--azul);
    border-radius: var(--border-radius_1);
    align-items: center;
}


.contactos_masatexto{
    color: var(--claro);
    text-align: center;
}

.contactos_redes_circulo_ori{
    display: inline-block;
    position: absolute;
    top: 1010px;
    left: 150px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.contactos_redes_circulo_ori_2{
    display: inline-block;
    position: absolute;
    top: 1010px;
    left: 465px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.contactos_redes_circulo_1{
    display: inline-block;
    position: absolute;
    top: 970px;
    left: 745px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.contactos_redes_circulo_2{
    display: inline-block;
    position: absolute;
    top: 970px;
    left: 1060px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.tiktok_imagen_redes_circulo_1_1{
    display: inline-block;
    position: absolute;
    top: 1010px;
    left: 1320px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}
.tiktok_imagen_redes_circulo_2_2{
    display: inline-block;
    position: absolute;
    top: 1010px;
    left: 1635px;
    width: 35px;
    height: 35px;
    background-color: var(--claro);
    border-radius: 100px;
    color: var(--claro);
    box-shadow: -5px 3px 15px 0px rgba( 128, 128, 128, 03);
}

/*fin contactos*/

/*FIN MAIN SOBRE MI*/

/*FOOTER*/
footer{
    display:flex;
    justify-content: space-around;
    background-color: var(--azul);
    height: 300px;
    color:var(--claro);
    padding:40px 30px;

    /*border-radius: 10px;*/

}
footer p {
    
    text-decoration: none;
    font-size: var(--h3);
    color: var(--claro);
    margin-top: 100px;
    
}
footer nav{}
footer nav ul{
    display: flex;
    margin-top: 80px;
    list-style: none;
    gap:30px;
  

    
}
footer nav ul li{
    color:var(--claro);
    text-decoration: none;
    display: block;
    
    /*transform: rotate(10deg);*/
}
footer nav ul li a{
    background-color: var(--claro);
    color: var(--azul);
    text-decoration: none;
    font-size: var(--h3);
    padding: 42px;
    border-radius: 50px;
    transition: 300ms all;
    box-shadow: -5px 3px 15px 0px rgba( 50, 50, 50, 07);
    
}
footer nav ul li a:hover{
    background-color: var(--celeste);
}
/*fin footer*/

/*modularizacion*/
.titulo{
    /*margin-top: 40px 30px;*/
    padding: 30px 0 ;
    font-size: var(--h3);
    text-align: center;
    color: var(--azul);
}
.titulo_2{
    padding: 30px 20px ;
    font-size: var(--h3);
    text-align: left;
}
/*fin modularizacion*/